<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
    <%= button_to 'Send Friend request', request_friendship_path(user)%>
  </span>
</li>